<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hello AmazonPay</title>
    <!-- 1. Add Amazon Script -->
    <script type='text/javascript'>
        window.onAmazonLoginReady = function () {
            amazon.Login.setClientId("<%= @client_id %>");
        };
        window.onAmazonPaymentsReady = function () {
            showButton();
        };
    </script>

    <!-- 2. Add widget.js -->
    <script async="async" src='https://static-fe.payments-amazon.com/OffAmazonPayments/jp/sandbox/lpa/js/Widgets.js'></script>

</head>
<body>
    <h1>Hello AmazonPay</h1>
    <div id="AmazonPayButton"></div>
    <script type="text/javascript">
        function showButton() {
            var authRequest;
            OffAmazonPayments.Button("AmazonPayButton", "<%= @seller_id %>", {
                type: "LwA", // https://developer.amazon.com/ja/docs/amazon-pay-onetime/button-widgets.html#type
                color: "Gold", // https://developer.amazon.com/ja/docs/amazon-pay-onetime/button-widgets.html#color
                size: "medium", // https://developer.amazon.com/ja/docs/amazon-pay-onetime/button-widgets.html#size
                authorization: function () {
                    // scope https://developer.amazon.com/ja/docs/amazon-pay-onetime/button-widgets.html#scope
                    // popup https://developer.amazon.com/ja/docs/amazon-pay-onetime/button-widgets.html#popup
                    loginOptions = { scope: "profile", popup: true };
                    authRequest = amazon.Login.authorize(loginOptions, "http://localhost:4567/redirected"); // NOTICE: https が必須らしい
                    // redirect https://developer.amazon.com/ja/docs/amazon-pay-onetime/button-widgets.html#%E3%83%AA%E3%83%80%E3%82%A4%E3%83%AC%E3%82%AF%E3%83%88url
                },
                onError: function (error) {
                    // your error handling code.
                    console.error(error.getErrorCode() + " - " + error.getErrorMessage())
                }
            });
        };
    </script>

    <a id="Logout" href="">logout</a>
    <script type="text/javascript">
        document.getElementById('Logout').onclick = function () {
            amazon.Login.logout();
        };
    </script>
</body>
</html>