<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hello AmazonPay</title>
    <!-- 1. Add Amazon Script -->
    <script type='text/javascript'>
        window.onAmazonLoginReady = function () {
            amazon.Login.setClientId("<%= @client_id %>");
        };
        window.onAmazonPaymentsReady = function () {
            showButton();
        };
    </script>

    <!-- 2. Add widget.js -->
    <script async="async" src='https://static-fe.payments-amazon.com/OffAmazonPayments/jp/sandbox/lpa/js/Widgets.js'></script>

</head>
<body>
    <h1>Hello AmazonPay</h1>
    <div id="AmazonPayButton"></div>
    <script type="text/javascript">
        function showButton() {
            var authRequest;
            OffAmazonPayments.Button("AmazonPayButton", "<%= @seller_id %>", {
                type: "TYPE",
                color: "COLOR",
                size: "SIZE",
                authorization: function () {
                    loginOptions = { scope: "SCOPES", popup: "POPUP-PARAMETER" };
                    authRequest = amazon.Login.authorize(loginOptions, "REDIRECT-URL");
                },
                onError: function (error) {
                    // your error handling code.
                    console.error(error.getErrorCode() + " - " + error.getErrorMessage())
                }
            });
        };
    </script>

    <div id="Logout">logout</div>
    <script type="text/javascript">
        document.getElementById('Logout').onclick = function () {
            amazon.Login.logout();
        };
    </script>
</body>
</html>