<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Items</title>
</head>
<body>
    <h1>Amazon provides One-Time or Automatic Payment.</h1>
    <ul>
        <li>
            <a href="/pay_onetime">AmazonPay One-time Payment</a>
        </li>
        <li>
            <a href="/pay_auto">AmazonPay AutoPay</a>
        </li>
    </ul>
</body>
</html>