<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, maximum-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Logined?</title>
</head>
<body>
    <h1>login with amazon?</h1>
    <p>User profile:</p>
    <p>login後にqueryに乗っているAccessTokenを引数にとる。</p>
    <p>AWSユニークID, 名前、Emailが取得できる。</p>
    <ul>
        <% @profile.each do |v| %>
            <li><%= v %></li>
        <% end %>
    </ul>
    <div>
        <a href="/items">Next: select test payment.</a>
    </div>

</body>
</html>