<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, maximum-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Redirected</title>
    <script>
        window.onAmazonLoginReady = function () {
            amazon.Login.setClientId('<%= @client_id %>');
        };
        window.onAmazonPaymentsReady = function () {
            showWidget();
        }
    </script>

    <script async="async" src='https://static-fe.payments-amazon.com/OffAmazonPayments/jp/sandbox/lpa/js/Widgets.js'></script>

    <style type="text/css">
        #addressBookWidgetDiv{width: 400px; height: 228px;}
        #walletWidgetDiv {width: 400px; height: 228px;}
        #consentWidgetDiv {width: 400px; height: 140px;}
    </style>

</head>
<body>
    <div id="addressBookWidgetDiv"></div>
    <div id="walletWidgetDiv"></div>
    <div id="consentWidgetDiv"></div>

    <script type="text/javascript">
        var billingAgreementId;
        function showWidget() {
            new OffAmazonPayments.Widgets.AddressBook({
            sellerId: "<%= @seller_id %>",
            agreementType: 'BillingAgreement',

            onReady: function(billingAgreement) {
                billingAgreementId = billingAgreement.getAmazonBillingAgreementId();
                // ajax で認証し取得した Id を form に渡す
                document.getElementById('billingAgreementId').value = billingAgreementId;
            },

            onAddressSelect: function(billingAgreement) {
                // Replace the following code with the action you that want to perform
                // after the address is selected.
                // The amazonBillingAgreementId can be used to retrieve
                // the address details by calling the GetBillingAgreementDetails operation.
                // If rendering the AddressBook and Wallet widgets on the same page, you
                // should wait for this event before you render the Wallet widget for
                // the first time.
                // The Wallet widget will re-render itself on all subsequent
                // onAddressSelect events, without any action from you. It is not
                // recommended that you explicitly refresh it.
            },
            design: {
                designMode: 'responsive'
            },
            onError: function(error) {
                // Your error handling code.
            }
            }).bind("addressBookWidgetDiv");

            new OffAmazonPayments.Widgets.Wallet({
                sellerId: "<%= @seller_id %>",
                amazonBillingAgreementId: billingAgreementId,
                onPaymentSelect: function(billingAgreement) {
                    // Replace this code with the action that you want to perform
                    // after the payment method is selected.
                },
                design: {
                    designMode: 'responsive'
                },

                onError: function(error) {
                    // Your error handling code.
                }
            }).bind("walletWidgetDiv");

            new OffAmazonPayments.Widgets.Consent({
                sellerId: "<%= @seller_id %>",
                // amazonBillingAgreementId obtained from the Amazon Address Book widget.
                amazonBillingAgreementId: billingAgreementId,
                design: {
                    designMode: 'responsive'
                },
                onReady: function(billingAgreementConsentStatus){
                    // Called after widget renders
                    buyerBillingAgreementConsentStatus =
                    billingAgreementConsentStatus.getConsentStatus();
                    // getConsentStatus returns true or false
                    // true - checkbox is selected
                    // false - checkbox is unselected - default
                },
                onConsent: function(billingAgreementConsentStatus) {
                    buyerBillingAgreementConsentStatus =
                    billingAgreementConsentStatus.getConsentStatus();
                    // getConsentStatus returns true or false
                    // true - checkbox is selected - buyer has consented
                    // false - checkbox is unselected - buyer has not consented

                    // Replace this code with the action that you want to perform
                    // after the consent checkbox is selected/unselected.
                },
                onError: function(error) {
                    // your error handling code
                }
            }).bind("consentWidgetDiv ");

        }

    </script>
    <form action="/pay_auto" method="POST">
        <input type="hidden" id="billingAgreementId" name="billingAgreementId">
        <input type="submit" value="定期支払いPOST">
    </form>
</body>
</html>